<ul class="contacts" style="list-style-type: none">
    {% for contact in contacts %}
             {% if contact.contact is defined %}
                <li>
                    {% if contact.contact.id is defined %}<span class="badge text-bg-info">{{ contact.contact.id }}</span>{% endif %} <a {% if isCategory is same as(false) %} href="{{ path('app_contact_show', {id: contact.contact.id}) }}" {% else %} href="{{ path('app_category_show', {id: contact.contact.category.id}) }}" {% endif %}>{% if isCategory is same as(true) %}{% if contact.contact.category.name is defined %}<span class="name">{{ contact.contact.category.name }}</span>{% endif %}{% if contact.contact.count is defined %}<span class="badge text-bg-info">{{ contact.contact.count }}</span>{% endif %}{% endif %}{% if contact.contact.firstname is defined %}<span class="firstname">{{ contact.contact.firstname }}</span> --{% endif %}{% if contact.contact.lastname is defined %} <span class="lastname">{{ contact.contact.lastname  ?? ''}}</span> -- {% endif %}{% if contact.contact.email is defined %}{{ contact.contact.email }} -- {% endif %}{% if contact.contact.phone is defined %}{{ contact.contact.phone }}{% endif %}</a>    {% if contact.contact.category is not null %}<a href="{{ path('app_category_show', {id: contact.contact.category.id}) }}"><span class="badge text-bg-danger">{{ contact.contact.category.name }}</span></a> {% endif %}
                </li>
            {% endif %}
    {% endfor %}
</ul>