<ul class="contacts" style="list-style-type: none">
    {% for contact in contacts %}
        <li>
            {% if contact.id is defined %}<span class="badge text-bg-info">{{ contact.id }}</span>{% endif %} <a {% if isCategory is same as(false) %} href="{{ path('app_contact_show', {id: contact.id}) }}" {% else %} href="{{ path('app_category_show', {id: contact.category.id}) }}" {% endif %}>{% if isCategory is same as(true) %}{% if contact.category.name is defined %}<span class="name">{{ contact.category.name }}</span>{% endif %}{% if contact.count is defined %}<span class="badge text-bg-info">{{ contact.count }}</span>{% endif %}{% endif %}{% if contact.firstname is defined %}<span class="firstname">{{ contact.firstname }}</span> --{% endif %}{% if contact.lastname is defined %} <span class="lastname">{{ contact.lastname  ?? ''}}</span> -- {% endif %}{% if contact.email is defined %}{{ contact.email }} -- {% endif %}{% if contact.phone is defined %}{{ contact.phone }}{% endif %}</a>    {% if contact.category is not null %}<a href="{{ path('app_category_show', {id: contact.category.id}) }}"><span class="badge text-bg-danger">{{ contact.category.name }}</span></a> {% endif %}
        </li>
    {% endfor %}
</ul>